{% extends 'layouts.main' %} 

{% block content %}
    
    <div class="periodChoice">
        <h3>CREATE<br>NEW<br>ASSIGNMENT</h3>
    </div>
    {% if old('errors') %}
        <div class="alert alert-danger">
            {% for error in old('errors') %}
                <li>
                    {{ error.message }}
                </li>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row createRow">
        {{ form.open({action: 'AssignmentListController.store', params: {period_id: period.period_id} }) }}

            {{ csrfField }}

            <fieldset class="form-group">
                {{ form.label('Assignment Name *') }}
                {{ form.text('assignment_name', null, { class: 'form-control' }) }}
            </fieldset>
        
            <fieldset class="form-group">
                {{ form.label('Assignment Type *') }}
                {{ form.select('type', ['Homework', 'Classwork', 'Quiz', 'Test'], null, 'Select Type', { class: 'form-control' }) }}
            </fieldset>
        
            <fieldset class="form-group">
                {{ form.label('Teacher') }}
                {{ form.select('teacher', ['Mr. Marshall'], null, null,{ class: 'form-control' }) }}
            </fieldset>
        
            {{ form.submit('Submit', 'submit', { class: 'btn btn-primary btn-block' }) }}

        {{ form.close() }}
    </div>
{% endblock %}
