{% extends 'layouts.main' %}

{% block content %}
<div class="hello">
{% for student in students %}
 <p>{{student}}</p>
{% endfor %}
</div>

    <div id="single-menu" class="right">
        <div class="main-menu-wrapper">            
                {% if lists.length %}
                    <div class="periodChoice">
                        <h3>SELECT <br>An<br>Assignment</h3>
                    </div>
                    <ul class="row periodRow">
                    {% for list in lists %}
                        <li class="">
                            <div class="trapesium-chunked">
                                <a href="/period/{{periodId}}/assignments/{{list.id}}">{{list.assignment_name}}</a>
                            </div>
                            <div class="right-triangle">
                            </div>
                        </li> 
                        {#<li>
                        {{ form.open({action: 'AssignmentListController.destroy',params: {period_id: periodId, id: list.id} }) }}
                        {{ csrfField }}
                            {{ form.submit('Delete', 'delete', { class: 'btn btn-primary btn-block delete' }) }}
                        {{ form.close() }}
                        </li>#}
                    {% endfor %}
                    
                {% else %}
                    <div class="noAssignments">
                        <h3>Create<br>An<br>Assignment</h3>
                    </div>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="create">
        <a href="{{ 'period.assignments.create' | route({ period_id: periodId }) }}" class="btn btn-success btn-block"> Create New Assignment</a>
    </div>

{% endblock %}