{% extends 'layouts.main' %}

{% block content %}

        {% if studAssignments.length %}
            <div class="container tableContainer">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Student</th>
                        <th>ID</th>
                        <th>Assignment</th>
                        <th>Type</th>
                        <th>Complete</th>
                        <th>Period</th>
                    </tr>
        
            {% for studAssignment in studAssignments%}
                <tr>
                    <td>{{studAssignment.student_name}}</td>
                    <td>{{studAssignment.student_id}}</td>
                    <td>{{studAssignment.assignment_name}}</td>                    
                    <td>{{studAssignment.assignment_type}}</td>
                    <td>{{studAssignment.complete_status}}</td>
                    <td>{{studAssignment.period_id}}</td>
                </tr>
            {% endfor %}
                </table>
            </div>
            <div class="create goBack">     
                <ul class="ul">
                    <li><a href="{{'period.assignments.edit' | route({ period_id: periodId,  id:assignment.id })}}" class="btn btn-default btn-block">Edit Assignment</a></li>
                    <li><a href="{{'period.assignments.assignment.edit' | route({ period_id: periodId, assignments_id: assignment.id, id:assignment.id })}}" class="btn btn-default btn-block">Edit Report</a></li>
                    {#<li>
                        {{ form.open({action: 'StudentAssignmentController.destroy',params: {period_id: periodId, assignments_id: assignment.id, id:assignment.id} }) }}
                        
                        {{ csrfField }}
                        
                             
                            {{ form.submit('Delete', 'delete', { class: 'btn btn-primary btn-block' }) }}
                        {{ form.close() }}</li> #}
                    
                    <li>{{ form.open({action: 'AssignmentListController.destroy',params: {period_id: periodId,  assignments_id: assignment.id,id: assignment.id} }) }}
                        {{ csrfField }}
                            {{ form.submit('Delete', 'delete', { class: 'btn btn-primary btn-block delete' }) }}
                        {{ form.close() }}</li>
                </ul>
                
            </div>
        {% else %}
    
            <div class="create">
                <div class="noAssignments">
                    <h3>Generate<br>Assignment<br>Report</h3>
                </div>
                <a href="{{ 'period.assignments.assignment.create' | route({ period_id: periodId, assignments_id: assignment.id }) }}" class="btn btn-success btn-block"> Generate Assignment Report</a>
            </div>
        {% endif %}
        <div class="create goBack">
             <a href="{{'period.assignments.index' | route({ period_id: periodId, id: assignment.id })}}" class="backButton btn btn-default btn-block">Go Back</a>             
        </div>
    {# <div class="container tableContainer">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Student</th>
                <th>ID</th>
                <th>Assignment</th>
                <th>Type</th>
                <th>Complete</th>
                <th>Period</th>
            </tr>
            {% for student in students%}
                <tr>
                    <td>{{student.student_name}}</td>
                    <td>{{student.student_id}}</td>
                    <td>{{assignment.assignment_name}}</td>                    
                    <td>{{assignment.type}}</td>
                    <td>No</td>
                    <td>{{student.period_id}}</td>
                </tr>
            {% endfor %}
        </table>
        <h1>{{asignId}}</h1>
    </div> #}
   
   

{% endblock %}