.tableAssignment h2{
    margin: 0;
    text-align: center;
}

.tableAssignment h2:nth-child(2){
    padding-bottom: 1em;
}

.backButton{
    margin-bottom: 3em;
}
.ul li{
    display: inline-block;
}
ul {
    list-style: none;
}
.periodRow li{
    display: inline-block;
}
.goBack{
    width: 30% !important;
}

td,th{
    color:black;
}
.generateRow{
    width: 60%;
    margin: auto;
    padding-top: 2em;
    background-color: currentColor;
    padding: 20px;
    padding-bottom: 40px;
}

.tableContainer{
    background: white;
    color:black;
    padding-top: 1em;
}
.noAssignments{
    text-align: center;
    width: 50%;
    margin: auto;
    color: white;
}

.noAssignments h3{
    line-height: 1.2em;
    font-size: 3em;
    letter-spacing: 5px;
    margin-top: 2.3em;
}
select{
    color:black;
}
#submit{
    margin-top: 40px;
}
.btn-block{
    width: 95%;
}
label{
    color: rgba(0,0,0,.6);
}

.createRow{
    width: 40%;
    margin: auto;
    float: left;
    padding-top: 2em;
    background-color: currentColor;
    padding: 20px;
    padding-bottom: 40px;
}
.create{
    clear: both;
    width:50%;
    margin: auto;
    padding-top: 2em;
}
body{
    /*padding-top: 6em;*/
    font-family: Lato;
    background: rgba(0,0,0,.8);
    color: white;
}
.periodChoice{
    float: left;
    text-align: center;
    width: 50%;
    color: white;
}

.periodChoice h3{
    line-height: 1.2em;
    font-size: 3em;
    letter-spacing: 5px;
    margin-top: 2.3em;
}
.periodRow{
    margin-left: 10em !important;
}
h2 {
  font-size:2.2em;
  font-family: 'Titillium Web', sans-serif;
  color:#888888;
  margin:50px 0 0 100px;}

#single-menu {
    margin:0 100px 0 0 ;
    padding:0 0 50px 0; 
    }
.main-menu-wrapper ul {
    margin:0;
    padding:0;
    float:right;
    }

.main-menu-wrapper li{
    display:block;
    width:120px;
    height:auto;
    margin: 0;
    padding:20px;
    list-style:none;
    position:relative;
    }

.main-menu-wrapper {

    /*float:right;*/
    position:relative;
    }

.trapesium-chunked a {
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
    margin:0 0 0 15px;
    top:42px;
    position:absolute;
    text-decoration:none;
    }

.trapesium-chunked a:hover {
  color: #cccccc;
}

.trapesium-chunked {
    width:450px;
    float:right;
    padding:0;
    margin: 15px 65px 0 -145px;
    transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    -webkit-transition: background .2s linear;
    height: 0; 
    border-bottom: 40px solid #b93024;;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    list-style:none
}
    
.right-triangle {
   width: 0;
   height: 0;
   border-left: 15px solid red;
   border-top: 15px solid transparent;
   border-bottom: 0px solid transparent;
}

.main-menu-wrapper ul li ul
{
    border-radius: none;
    display: block;
    right: 100%;
    opacity: 0;
    position: absolute;
    top:25px;
    left:-320px;
    transition: opacity .2s ease;
    visibility: hidden;
    width: 180px;
    z-index: 1;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
 
    width:150px;
    height:auto;
    background:#B93024;
    transform: skew(-15deg);
    -o-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    
}

.trapesium-chunked:hover{
    opacity: .8;
}


.main-menu-wrapper ul li ul li a {
    text-decoration:none;
    margin:2px 0 0 0 !important;
    padding:2px 0 0 0 !important;'
    height:30px !important;
    width:150px;
    }

.main-menu-wrapper ul li ul li a:hover {
  color: #cccccc;
}

.main-menu-wrapper ul li ul li {
display:block;
text-align:left;
border-bottom:1px dotted #ffffff;
width:120px;
margin:2px 0 2px 0;
padding:0 15px 5px 15px;
}


.main-menu-wrapper li a span
 {  
  font-family: 'Titillium Web', sans-serif;
  color:#ffffff;
    transform: skew(15deg);
    -o-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -webkit-transform: skew(15deg);
     }

.main-menu-wrapper li a:hover span {
  color: #cccccc;
}

.main-menu-wrapper ul li:hover>ul
{
    opacity: 1;
    visibility: visible;
    z-index: 1;
    margin:10px !important;
    padding:10px !important;
}