body {
    padding-top: 9em;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  background: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

.__banner {
  background: #744d82;
  background: -moz-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -webkit-gradient(radial, top center, 0, center center, 100%, color-stop(11%, #744d82), color-stop(99%, #503d67), color-stop(100%, #503d67));
  background: -webkit-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -o-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -ms-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: radial-gradient(ellipse at top, #744d82 11%, #503d67 99%, #503d67 100%);
}

.__banner {
  height: 80vh;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.__banner .banner__inner h1 {
  font-weight: 500;
  font-size: 180px;
  color: #ffffff;
}

.__banner .banner__inner h2 {
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 80px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}

.__banner .banner__inner p,
.__banner .banner__inner a {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.__banner .banner__inner h2 span {
  display: inline-block;
  margin: 0 30px;
}

.__footer {
  text-align: center;
  position: absolute;
  bottom: 30px;
  margin: auto;
  right: 0;
  left: 0;
}

.__footer ul {
  display: table;
  margin: auto;
}

.__footer li {
  border-left: solid 2px #ccc;
  display: table-cell;
}

.__footer li:first-child {
  border: none;
}

.__footer li a {
  transition: opacity 0.5s;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 0px 30px;
  font-size: 13px;
  opacity: 0.8;
  color: #ccc;
}

.__footer li a:hover {
  opacity: 1;
}
