{% extends 'layouts.main' %}

{% block content %}

    <div class="periodChoice">
        <h3>SELECT <br>A<br>PERIOD</h3>
    </div>
    <div id="single-menu" class="right">
        <div class="main-menu-wrapper">
        <ul class="row periodRow">
            {% for period in periods %}
                <li class="">
                    <div class="trapesium-chunked">
                    
                        
                  <a href="/period/{{period.period_id}}/assignments">{{period.period_name}}</a>
                    </div>
                    <div class="right-triangle">
                    </div>
                </li> 
            {% endfor %}
        </ul>
        </div>
    </div>

{% endblock %}
