{% extends 'layouts.main' %}

{% block content %}
    
    
    <div id="single-menu" class="right">
        <div class="main-menu-wrapper">            
                {% if lists.length %}
                    <div class="periodChoice">
                        <h3>SELECT <br>An<br>Assignment</h3>
                    </div>
                    <ul class="row periodRow">
                    {% for list in lists %}
                        <li class="">
                            <div class="trapesium-chunked">
                                <a href="#">{{list.assignment_name}}</a>
                            </div>
                            <div class="right-triangle">
                            </div>
                        </li> 
                    {% endfor %}
                {% else %}
                    <div class="noAssignments">
                        <h3>Create<br>An<br>Assignment</h3>
                    </div>
                {% endif %}
            </ul>
            
        </div>
    </div>
    <div class="create">
        <a href="{{ 'period.assignments.create' | route({ period_id: periodId }) }}" class="btn btn-success btn-block"> Create New Assignment</a>
    </div>
   

{% endblock %}