{% extends 'layouts.main' %}

{% block content %}

    <div class="container">
        
        {% if old('errors') %}
            <div class="alert alert-danger">
                {% for error in old('errors') %}
                    <li>
                        {{ error.message }}
                    </li>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row generateRow">
            {{ form.open({action: 'StudentAssignmentController.store', params: {period_id: periodId, assignments_id: assignId, id:assignId} }) }}

            {{ csrfField }}
            
            <div class="tableAssignment">
                <h2>Title: <span>{{assignment.assignment_name}}</span></h2>
                <h2>Type: <span>{{assignment.type}}</span></h2>
            </div>

           {# <fieldset class="form-group">
                {{ form.label('Assignment Name *') }}
                <input type="text" name="assignment_name" value="{{assignment.assignment_name}}" class="input form-control" />
            </fieldset>

            <fieldset class="form-group">
                {{ form.label('Assignment Type *') }}
                <select name="type" class="form-control" id="type">
                    <option value="{{assignment.type}}">{{assignment.type}}</option>
                    <option value="Homework"> Homework </option>
                    <option value="Classwork"> Classwork </option>
                    <option value="Quiz"> Quiz </option>
                    <option value="Test"> Test </option>
                </select>
            </fieldset>

            <fieldset class="form-group">
                {{ form.label('Teacher') }}
                {{ form.select('teacher', ['Mr. Marshall'], null, null,{ class: 'form-control' }) }}
            </fieldset> #}
            
            
            
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Student</th>
                    <th>Complete</th>                    
                </tr>
                {% for student in students%}
                    
                    <tr>
                        <td>
                            {{student.student_name}}
                            <input type="hidden" name="period_id[{{loop.index}}]" value="{{student.period_id}}">
                            <input type="hidden" name="student_name[{{loop.index}}]" value="{{student.student_name}}">
                            <input type="hidden" name="student_id" value="{{student.student_id}}">
                            <input type="hidden" name="assignment_name" value="{{assignment.assignment_name}}">
                            
                            {#<input type="hidden" name="teacher[{{loop.index}}]" value="{{student.teacher}}">#}
                            <input type="hidden" name="assignment_list_id" value="{{assignId}}">
                            <input type="hidden" name="assignment_type" value="{{assignment.type}}">
                            <input type="hidden" name="teacher" value="Mr. Marshall">
                        </td>
                        <td>
                            <input type="radio" name="complete_status[{{loop.index}}]" value="yes">&nbsp;Yes&nbsp;
                            <input type="radio" name="complete_status[{{loop.index}}]" value="no" checked="checked">&nbsp;No&nbsp;
                        </td>                        
                    </tr>
                {% endfor %}
            </table>
        
            
            {{ form.submit('Submit', 'submit', { class: 'btn btn-primary btn-block' }) }}

            {{ form.close() }}
        </div>
    </div>

{% endblock %}