{% extends 'layouts.main' %}

{% block content %}

        {% if studAssignments.length %}
            <div class="container tableContainer">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Student</th>
                        <th>ID</th>
                        <th>Assignment</th>
                        <th>Type</th>
                        <th>Complete</th>
                        <th>Period</th>
                    </tr>
        
            {% for studAssignment in studAssignments%}
                <tr>
                    <td>{{studAssignment.student_name}}</td>
                    <td>{{studAssignment.student_id}}</td>
                    <td>{{studAssignment.assignment_name}}</td>                    
                    <td>{{studAssignment.assignment_type}}</td>
                    <td>{{studAssignment.complete_status}}</td>
                    <td>{{studAssignment.period_id}}</td>
                </tr>
            {% endfor %}
        {% else %}
    
            <div class="create">
                <div class="noAssignments">
                    <h3>Generate<br>Assignment<br>Report</h3>
                </div>
                <a href="{{ 'period.assignments.assignment.create' | route({ period_id: periodId, assignments_id: assignId }) }}" class="btn btn-success btn-block"> Generate Assignment Report</a>
            </div>
        {% endif %}


    {# <div class="container tableContainer">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Student</th>
                <th>ID</th>
                <th>Assignment</th>
                <th>Type</th>
                <th>Complete</th>
                <th>Period</th>
            </tr>
            {% for student in students%}
                <tr>
                    <td>{{student.student_name}}</td>
                    <td>{{student.student_id}}</td>
                    <td>{{assignment.assignment_name}}</td>                    
                    <td>{{assignment.type}}</td>
                    <td>No</td>
                    <td>{{student.period_id}}</td>
                </tr>
            {% endfor %}
        </table>
        <h1>{{asignId}}</h1>
    </div> #}
   
   

{% endblock %}