<!DOCTYPE html>
<html>
    <head>
        <title>JHS App | Mr. Marshall</title>
        <!-- Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700">

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">   
        <link rel="stylesheet" href="/parallelogram.css">
        {#<link rel="stylesheet" href="{{asset('css/foundation.css')}}" />
        <script src="{{{asset('js/vendor/modernizr.js') }}}"></script>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"> 
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">  #}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fied-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{# url('/') #}">{#$teachersName#}</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            {#--<li><a href="{{ url('/assignments/create') }}">Create</a></li>
                            <li><a href="#contact">Contact</a></li>--#}
                            <li class="Periods">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Period<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for period in periods %}
                                    <li><a href="/period/{{period.period_id}}/assignments">{{period.period_name}}</a></li>
                                {% endfor %}
                            </ul>
                            </li>
                            <li class="Students">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for period in periods %}
                                    <li><a href="{# url('/students/1') #}">{{period.period_name}}</a></li>
                                {% endfor %}
                            </ul>
                            </li>
                          </ul> 
                          <!-- Right Side Of Navbar -->
                            <ul class="nav navbar-nav navbar-right">                                
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                            {# Auth::user()->name #} <span class="caret"></span>
                                        </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{# url('/logout') #}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                                        </ul>
                                    </li>
                            </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
        <div class="wrapper">
            {# @if (Session::has('message'))
                <div class="alert-box success">
                    {{{ Session::get('message') }}}
                </div>
            @endif #}

            <div id="contain">
                <div class="row">
                    <div class="col-lg-12">
                       {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="sticky">
             
            
        </footer>
        
        
         <!-- JavaScripts -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" integrity="sha384-I6F5OKECLVtK/BL+8iSLDEHowSAfUo76ZL9+kGAgTRdiByINKJaqTPH/QVNS1VDb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {# {{-- <script src="{{ elixir('js/app.js') }}"></script> --}}
    {{ Html::script('js/vendor/jquery.js') }}
    {{ Html::script('js/foundation.min.js') }}
    {{ Html::script('js/app.js')}}
    <script>
      $(document).foundation();
    </script> #}
    </body>
</html>
